<div class="container">
    <div class="row justify-content-center">
        <div class="col text-left rounded-shadow py-5">
            <form (ngSubmit)="OnSubmit(myForm)" #myForm >
                <h2>Student Registration Form</h2>
            
                <div class="form-group">
                    <label for="firstname">FirstName</label>
                    <input type="text" class="form-control" name="firstname" id="firstname" placeholder="Enter First Name" ngModel required>
                    <small class="text-danger" *ngIf="firstname">First name is required Enter atleast 5 Characters : {{firstname}}</small>
                </div>
                <div class="form-group">
                    <label for="lastname">Last Name</label>
                    <input type="text" class="form-control" name="lastname" id="lastname" placeholder="Enter Last name" ngModel required>
                    <small class="text-danger" *ngIf="lastname">Enter Last Name: {{lastname}}</small>
                </div>
                <div class="form-group">
                    <label for="age">Age</label>
                    <input type="text" class="form-control" name="age" id="age" placeholder="Enter Age" ngModel required>
                    <small class="text-danger" *ngIf="age">Enter age : {{age}}</small>
                </div>
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" class="form-control" name="email" id="email" #email="ngModel" email placeholder=" Enter Email" ngModel required>
                    <small class="text-danger" *ngIf="!email.valid && email.touched">Please enter valid Email </small>
                </div>
                <div class="form-group"> 
                    <label for="city">city</label>
                   <select class="form-control" id="city" name="city" ngModel required> 
                    <option value="Mumbai">Mumbai</option>
                    <option value="Kolkata">Kolkata</option>
                    <option value="Delhi">Delhi</option>
                   </select>
                </div>
                <br>
                <div class="custom-control custom-radio" *ngFor="let gender of genders">
                    <label for="{{gender}}" class="custom-control-input">{{gender.value}}</label>
                    <input type="radio" class="custom-control-input" name="gender" id="{{gender.id}}" value="{{gender.value}}" [(ngModel)]="defaultGender" required>
                </div>
                <br>
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" class="form-control" name="password" id="password" placeholder="Enter Passord" ngModel required>
                </div>
                <br>
                <div class="form-group">
                    <label for="confirmpassword">Confirm Password</label>
                    <input type="password" name="confirmpassword" id="confirmpassword" class="form-control" placeholder="Confirm Passord" ngModel required>
                </div>
                <br>
                <button type="submit" class="btn btn-primary" [disabled]="myForm.valid">Submit</button>
            </form>
        </div>
    </div>
</div>