<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6 rounded-shadow py-5">
            <form [formGroup]="myReactiveForm" (ngSubmit)="Onsubmit()">

                <h2> Reactive Form </h2>

                <div class="form-group">
                    <label for="usename">UserName</label>
                    <input type="text" id="username" class="form-control" formControlName="username"
                        placeholder="Enter user name">
                    <small class="text-danger" *ngIf="!myReactiveForm.get('username').valid && myReactiveForm.get('username').touched">
                        <small *ngIf="myReactiveForm.get('username').errors['required']">codemind is not allowed</small>
                    </small>
                </div>

                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="text" id="email" class="form-control" formControlName="email" placeholder="Enter Email">
                    <small class="text-danger"
                        *ngIf="!myReactiveForm.get('email').valid && myReactiveForm.get('email').touched">Please enter
                        valid Email Id</small>
                </div>

                <div class="form-group">
                    <label for="course">Select Course</label>
                    <select id="course" formControlName="course" class="form-control">
                        <option value="Angular">Angular</option>
                        <option value="CSS">CSS</option>
                        <option value="Javascript">Javascript</option>
                        <option value="HTML">HTML</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="custom-control custom-radio" *ngFor="let gender of genders">
                        <input type="radio" id="{{gender.id}}" value="{{gender.value}}" class="custom-control-input" formControlName="gender">
                        <label for="{{gender.id}}">{{gender.value}}</label>
                    </div>
                </div>

                <button class="btn btn-success">Submit</button>

            </form>
        </div>
    </div>
</div>