input.ng-invalid.ng-touched{
    border: 1px solid red;
    box-shadow: 0 0 13px red;
}

label{
    margin-top: 20px;
    color: #000;
    font-size: larger;

}
#text{
   
}
#flex1{
    flex: 1; 
    size: 500px;
    background-color:rgb(194, 193, 193); 
}
#flex2{
    flex: 2; 
}

