<div class="row">
    <div class="col-md-8">
        <div class="card" style="width: 18rem;">
            <img src="../../assets/images/istockphoto-1157789866-170667a.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Laptop</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="laptop" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/HD-wallpaper-sony-xperia-tablet-z-hi-tech-brand-advertising.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tablet</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="tablet" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/g68965W7-o_left.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">TV</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="tv" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="../../assets/images/c1fcd7dc-41d3-4016-bfad-ded2bbdc63d8_416x416.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Washing-machine</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a routerLink="washingmachine" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
    </div>
    <div class="col-md-4">
      <router-outlet></router-outlet>
    </div>
</div>
